.eventCard {
  position: relative;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.eventLink {
  display: block;
}

.eventImageWrapper {
  line-height: 0;
  width: calc( ((100vw - 130px) / 12) * 8 + 70px );
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

.eventImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.eventTitle {
  white-space: pre-line;
}

.eventTitleWrapper {
  cursor: pointer;
}

.eventExcerpt {
  margin-top: 25px;
  text-align: left;
  width: calc( ((100vw - 130px) / 12) * 6 + 50px );
}

.eventButtons {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
}

.eventButtons p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 22px;
  padding: 9px 20px;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}