.guideCard {
  position: relative;
  color: #fff;
}

.guideCard:hover {
  color: #000;
}

.guideLink {
  display: block;
}

.guideImageWrapper {
  line-height: 0;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
}

.guideImage {
  width: 100%;
  height: auto;
}

.guideCard:not(:hover) .guideMessage,
.guideCard:hover .guideImage {
  opacity: 0;
}

.guideInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.guideCard:hover .guideLocation,
.guideCard:not(:hover) .guideAddress {
  display: none;
}

.guideAddress {
  white-space: pre-line;
}

.guideButtons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guideMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
}
