.guideCard {
  position: relative;
  color: #fff;
}

.guideCard:hover {
  color: #000;
}

.guideLink {
  display: block;
}

.guideImageWrapper {
  line-height: 0;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  background-color: #fff;
}

.guideImage {
  width: 100%;
  height: auto;
}

.guideCard:not(:hover) .guideMessage,
.guideCard:hover .guideImage,
.guideCard:not(:hover) .cornersContainer {
  opacity: 0;
}

.guideInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.guideCard:hover .guideLocation,
.guideCard:not(:hover) .guideAddress {
  display: none;
}

.guideAddress {
  white-space: pre-line;
}

.guideButtons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guideMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
}

.cardCorner {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border-top: 1px solid #000;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  z-index: 1;
}

.cornerLeft {
  transform: rotate(-45deg);
}

.cornerRight {
  transform: rotate(45deg);
}

.cornersBottom {
  transform: rotate(180deg);
}

.cornersContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.cornersRow {
  display: flex;
  justify-content: space-between;
}