.picksModule {
  display: flex;
  height: 52vw;
  padding: 35px 0;
  box-sizing: content-box;
}

.picksCover,
.picksWrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.picksImageWrapper {
  line-height: 0;
  width: 100%;
  height: 100%;
}

.picksSwiper {
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: #D9D9D9;
  --swiper-pagination-color: #7C7C7C;

  width: 50vw;
  overflow: hidden;
  height: 100%;
}

.picksSwiperWrapper {
  align-items: center;
}

.pickItem {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: fit-content!important;
}

.pickItem .pickMessage {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pickItem:global(.swiper-slide-active) .pickMessage {
  opacity: 1;
}

.picksImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picksWrapper {
  position: relative;
  background: #FFBD00;
}

.picksTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFBD00;
}

.picksLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: #fff;
}

.pickMessage {
  position: absolute;
  bottom: -40px;
  left: 0;
  transform: translateY(100%);
  width: 100%;
}

.picksPagination {
  position: relative;
  z-index: 10;
  width: fit-content!important;
  left: auto!important;
  transform: none!important;
  bottom: auto!important;
  height: fit-content!important;
}

.picksPaginationWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.swiperBar {
  position: absolute;
  bottom: calc(50% - (((((100vw - 40px) / 12) * 3 + 20px ) / 0.78) / 2) - 20px );
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: calc( ((100vw - 130px) / 12) * 3 + 20px + 20px + 25px );
  z-index: 10;
}

.swipePrev,
.swipeNext {
  cursor: pointer;
}

.swipePrev {
  line-height: 0;
}

.swipeNext {
  transform: rotateY(180deg);
  line-height: 0;
}

.curator {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
  align-items: end;
}

.curator p {
  white-space: pre-line;
  line-height: .8;
  height: fit-content;
}

.curator p:last-child {
  color: #FFBD00;
}