.productSwiper {
  width: 50vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.productSwipeNext {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 10;
  cursor: pointer;
  padding: 7px;
  mix-blend-mode: difference;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productSwipeNext :global(path) {
  fill: #fff;
}

.productImages {
  height: fit-content;
  position: sticky;
  top: 0;
}