.productSwiper {
  width: 50vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.productSwipeNext,
.productSwipePrev {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 10;
  cursor: pointer;
  padding: 7px;
  mix-blend-mode: difference;
}

.horizontalSwiper .productSwipeNext,
.horizontalSwiper .productSwipePrev {
  top: 50%;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
  padding: 7px 12px;
}

.horizontalSwiper .productSwipePrev {
  left: 0;
}

.horizontalSwiper .productSwipeNext {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productSwipeNext :global(path),
.productSwipePrev :global(path) {
  fill: #fff;
}

.productImages {
  height: fit-content;
  position: sticky;
  top: 0;
}