.shopTitle {
  text-align: center;
  padding: 0 0 45px;
}

.storePage {
  padding: 130px 0 70px;
}

.storeGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 10px;
}

.storeModules {
  display: flex;
  flex-direction: column;
  gap: 90px;
}