/* ------------------------------------------------------------ */

/*                        PSEUDO CLASSES                        */

/* ------------------------------------------------------------ */

*:focus,
*:focus-visible {
  outline: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
  box-shadow: none!important;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0 !important;
}

/* ------------------------------------------------------------ */

/*                           ELEMENTS                           */

/* ------------------------------------------------------------ */

*,
*::before,
*::after {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: var(--selection-background-color);
  color: var(--selection-foreground-color);
}

html {
  overflow-x: hidden;
}

ul,
ol,
menu {
  list-style: none;
}

a,
input,
button,
fieldset,
textarea {
  all: unset;
}

a,
button {
  cursor: pointer;
}

input[hidden] {
  display: none;
}

textarea::placeholder,
input::placeholder {
  color: inherit;
}

summary {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

/* ------------------------------------------------------------ */

/*                       UTILITY CLASSES                        */

/* ------------------------------------------------------------ */

.uppercase {
  text-transform: uppercase;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

@media only screen and (min-width: 820px) {
  .hide-desktop {
    display: none!important;
  }
}

@media only screen and (max-width: 820px) {
  .hide-mobile {
    display: none!important;
  }
}