/* ------------------------------------------------------------ */

/*                        PSEUDO CLASSES                        */

/* ------------------------------------------------------------ */

*:focus,
*:focus-visible {
  outline: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
  box-shadow: none!important;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0 !important;
}

/* ------------------------------------------------------------ */

/*                           ELEMENTS                           */

/* ------------------------------------------------------------ */

*,
*::before,
*::after {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: var(--selection-background-color);
  color: var(--selection-foreground-color);
}

html {
  overflow-x: hidden;
}

/* Product page styles */
body.page-product footer {
  display: none;
}

ul,
ol,
menu {
  list-style: none;
}

a,
input,
button,
fieldset,
textarea {
  all: unset;
}

a,
button {
  cursor: pointer;
}

input[hidden] {
  display: none;
}

textarea::placeholder,
input::placeholder {
  color: inherit;
}

summary {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

/* ------------------------------------------------------------ */

/*                       UTILITY CLASSES                        */

/* ------------------------------------------------------------ */

.uppercase {
  text-transform: uppercase;
}

.book {
  font-weight: 340;
  letter-spacing: 0;
}

.serif {
  font-family: var(--font-marlfield);
  letter-spacing: 0;
}

.blur-back {
  backdrop-filter: blur(15px);
  background-color: #EBEBEBCC;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(30px);
  z-index: 99;
  cursor: pointer;
}

.font-xs {
  font-size: var(--font-xs);
  line-height: 1.2;
}

.font-s {
  font-size: var(--font-s);
  line-height: 1.2;
}

.font-sm {
  font-size: var(--font-sm);
  line-height: 1.1;
}

.font-m {
  font-size: var(--font-m);
  line-height: 1;
}

.font-l {
  font-size: var(--font-l);
  line-height: .9;
  letter-spacing: -.06em;
}

.favorite-button {
  width: 33px;
}

@media only screen and (min-width: 820px) {
  .hide-desktop {
    display: none!important;
  }
}

@media only screen and (max-width: 820px) {
  .hide-mobile {
    display: none!important;
  }
}