body {
  font-weight: 600;
  letter-spacing: -.06em;
  line-height: 1.1;
}

/* ------------------------------------------------------------ */

/*                            LOGO                              */

/* ------------------------------------------------------------ */

.logo {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 120px;
  line-height: 0;
}