.introSection {
  padding: 130px 10px 50px;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 4 / span 6;
}

.monthSection {
  padding: 40px 10px 20px;
}

.monthTitle {
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.eventsGrid {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.eventsGrid.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  gap: 30px;
}

.eventImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.eventTitle {
  white-space: pre-line;
}

.emptyText {
  text-align: center;
  padding: 40px 0;
}

.active {
  color: #fff;
  background-color: #000000CC;
}