.introFilters {
  padding: 130px 10px 70px;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: span 6;
}

.memberActions {
  display: flex;
  justify-content: center;
  gap: 13px;
  color: #C4C4C4;
}

.profileGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profileGrid.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  gap: 30px;
}

.learnCard {
  position: relative;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.learnCard.notHovered {
  color: #C4C4C4;
}

.entryImageWrapper {
  line-height: 0;
}

.entryImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.entryInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: end;
  padding: 10px;
}

.entryTitle {
  flex: 1;
  white-space: pre-line;
}

.profileGrid:not(.listView) .entryTitle {
  color: #fff;
}

.entryButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
}

.entryButtons p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 22px;
  padding: 9px;
}

.emptyText {
  text-align: center;
  grid-column: span 2;
}

.entryTitleWrapper {
  cursor: pointer;
}

.hoverPreview {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: calc( ((100vw - 130px) / 12) * 3 + 20px );
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hoverImageWrapper {
  position: relative;
}

.hoverImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.active {
  color: #fff;
  background-color: #000000CC;
}