.tastemakerCover {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1;
}

.tastemakerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tastemakerImage :global(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tastemakerPageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.tastemakerHeader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  z-index: 2;
}