.introFilters {
  padding: 130px 10px 90px;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: span 6;
}

.profileGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5px;
  row-gap: 20px;
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.profileCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profileImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}

.profileImageWrapper {
  padding: 10px;
}

.profileSignature {
  height: auto;
}

.tastemakerCard .profileImageWrapper {
  background-color: #6881F5;
}

.tastebreakerCard .profileImageWrapper {
  background-color: #FFBD00;
}

.profileInfo {
  display: flex;
  align-items: baseline;
  gap: 3px;
  padding: 0 15px;
}

.emptyText {
  text-align: center;
  grid-column: span 3;
}

.active {
  color: #fff;
  background-color: #000000CC;
}

.hoverPreview {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: calc( ((100vw - 130px) / 12) * 3 + 20px );
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hoverImageWrapper {
  position: relative;
}

.hoverImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}